@(currentPage:Page[_], currentOrderBy: Int, link:(Int, Option[Int])=>play.api.mvc.Call)

@if(currentPage.next.isDefined || currentPage.prev.isDefined){
  <div id="pagination" class="pagination">
        <ul>
            @currentPage.prev.map { page =>
                <li class="prev">
                    <a href="@link(page, None)">&lt; Previous</a>
                </li>
            }.getOrElse {
                <li class="prev disabled">
                   &lt; Previous
                </li>
            }
            <li class="current">
                Displaying @(currentPage.offset + 1) to @(currentPage.offset + currentPage.items.size) of @currentPage.total
            </li>
            @currentPage.next.map { page =>
                <li class="next">
                    <a href="@link(page, None)">Next &gt;</a>
                </li>
            }.getOrElse {}
            @if(currentPage.total > (currentPage.offset + currentPage.items.size)){
              <li class="next" >
                @currentPage.totalPages.map { page =>
                  @if(currentPage.total % page == 0 ) {
                  <a href="@link(page.toInt - 1, None)">Last &gt;&gt;</a>
                  } else {
                  <a href="@link(page.toInt, None)">Last &gt;&gt;</a>
                  }
              </li>
               }
            }

        </ul>
    </div>
}
