div.characterbox {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    float: left;
    width: 60px;
    height: 45px;
    border: 1px solid #000000;
    text-align: center;
    padding-top: 20px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #94c722;
    font-size: 2em;
}

div.characterbox div.characterepbox {
    position: relative;
    top: 30px;
    display: none;
    background: #ffffff;
    width: 300px;
    z-index: 50;
    margin-left: -100px;
    margin-top: 20px;
    border: 1px solid #000000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-size: 0.8em;

}

div.characterbox span.close {
    float: right;
    cursor: pointer;
    padding-right: 10px;
}

div.characterbox div.characterepbox li.showperCharacter {
    font-size: 15px;
}

div.characterbox div.character {
    padding-left: 20px;
    position: absolute;
    z-index: 10;
}

div.characterbox div.character span.charcount {
    position: relative;
    top: 20px;
    left: 0;
    font-size: 0.5em;
}

dd.error {
    color: #8b0000;
}

span.small {
    font-size: 11pt;
}

img {
    border: none;
}

img.showthumb{
    float: left;
    margin: 0 5px 0 0;
}

img.showpic {
    float: right;
    width: 320px;
}

span.flag, span.delete {
    cursor: pointer;
}

div.tvragedisclaimer {
    float: right;
    font-size: 0.75em;
}

.tooltip {
    display: none;
    background: white;
    /*transparent url(/media/img/tooltip/black_arrow.png);*/
    font-size: 12px;
    padding: 5px;
    color: #94c722;
}

/*
sprites
*/

.sprite {
    background: url('../images/sprite.png') no-repeat;
}

.flag-green {
    width: 16px;
    height: 16px;
    background-position: -54px -0px;
}

.flag-red {
    width: 16px;
    height: 16px;
    background-position: -27px -27px;
}

.torrent {
    width: 16px;
    height: 16px;
    background-position: -0px -27px;
}

.trash {
    width: 16px;
    height: 16px;
    background-position: -27px -0px;
}

.update {
    width: 16px;
    height: 16px;
    background-position: -0px -0px;
}

/*
styling of autocomplete proposals
*/

li.ui-menu-item {
    list-style: none;

}

ul.ui-autocomplete {
    background-color: #808080;
}

div.showinfo {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

/*
	SiteName by Adonis Ronquillo for Free Website Templates
	www.freewebsitetemplat.es / www.doni.us
	Images by Image Base http://imagebase.davidniblack.com/
	Released under the Creative Commons Attribution 3.0 License.
*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    color: #94c722;
}

a:hover {
    text-decoration: none;
}

body {
    font-size: 11pt;
    line-height: 1.75em;
    background: #F0F3F5;
    color: #3C3D3D;
    text-align: justify;
}

body, input {
    font-family: "Varela", sans-serif;
}

br.clear {
    clear: both;
}

form {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    text-transform: lowercase;
    font-weight: normal;
}

h2 {
    font-size: 1.75em;
}

h2, h3, h4, div.character {
    font-family: "Sansita One", cursive;
    color: #000;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

img.left {
    float: left;
    margin: 8px 20px 20px 0;
}

img.top {
    margin: 8px 0 20px 0;
}

label.login {
    display: block;
    margin: 0 0 6px 0;
}

p {
    margin-bottom: 1.5em;
}

ul h4 {
    margin-bottom: 0.35em;
}

label {
    text-transform: lowercase;
}

.blogpost h2 {
    margin: 0 0 10px 0;
}

.form {
    margin: 0 0 28px 0;
}

.inputBox, .inputTextArea {

    width: 93%;
    border: dashed 1px #ADAFB0;
    padding: 4px;
}

.inputButton {
    padding: 6px;
    float: right;
    color: #FFF;
    background: #94c722;
    font-family: "Sansita One", cursive;
    border: none;
    text-shadow: 1px 1px 2px #000;
}

#banner {
    position: relative;
    padding: 0;
    height: 264px;
    width: 1180px;
    margin: 0 0 0 0;
    background: #4E6474;
}

#box1 {
    margin: 0 0 24px 0;
}

#box2 {
    margin: 0 0 24px 0;
}

#box1,#box2,#box3 {
    overflow: hidden;
}

#content {
    width: 780px;
    margin: 0 0 0 0;
    padding: 0;
}

#copyright {
    clear: both;
    margin: 0 0 16px 0;
    padding: 48px 0 0 0;
    text-align: center;
    font-size: 11px;
}

#copyright a {
    color: #3C3D3D;
}

#header {
    position: relative;
    padding: 20px 0 5px 0;
    height: 65px;
    width: 1124px;
}

#logo {
    position: absolute;
    top: 0;
    left: 28px;
    height: 104px;
    line-height: 104px;
}

#logo a {
    text-decoration: none;
    color: #000;
}

#logo a span {
    color: #94c722;
}

#logo h1 {
    font-size: 3.25em;
    font-family: "Sansita One", cursive;
}

#main {
    position: relative;
    padding: 28px;
    width: 1124px;
    margin: 0 0 0 0;
}

#main .sectionList {
    list-style: none;
    padding-left: 0;
}

#main .sectionList li {
    clear: both;
    padding: 16px 0 16px 0;
}

#main ul {
    list-style: none;
}

nav {
    position: relative;
    bottom: 0;
    left: 250px;
    height: 52px;
    line-height: 52px;
    padding: 0 28px 0 28px;
    width: 1124px;
    margin: 0;
    font-family: "Sansita One", cursive;
}

nav a {
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.5em;
    color: #161616;

}

nav ul {
    list-style: none;
}
nav ul li+li:before{
    content: '_';
    color: #94c722;

}
nav ul li:last-child:before{
    content: '';

}

nav ul li a{
    display: inline-block;
}
nav ul li a:first-letter{
    color: #94c722;
}

nav ul li {
    display: inline;
    padding: 16px 3px;
}

nav ul li.first {

}

nav ul li.active {
    background: #94c722;
}

nav ul li.active a {
    color: #FFF;
    text-shadow: 1px 1px 2px #000;
}

#outer {
    position: relative;
    width: 1180px;
    margin: 0px auto 0 auto;
}

#search {
    line-height: 104px;
}

#search input.button {
    margin-left: 1em;
    border: 0;
    color: #FFF;
    background: #AA6A3C;
    padding: 4px;
    font-family: "Sansita One", cursive;
}

#search input {
    border: dashed 1px #ADAFB0;
    padding: 4px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#sidebar1 {
    width: 300px;
    float: left;
    padding: 0;
}

#sidebar2 {
    width: 330px;
    float: right;
    padding: 0;
}
div.pagination ul{
    width: 450px;
    padding: 10px 0;
    font-size: 11px;
}
div.pagination ul li.next{
    position: relative;
    left: 230px;
    padding-right: 10px;
}
div.pagination ul li.current{
    position: relative;
    left: 120px;
}

div.pagination ul li {
    display: inline;
}

span.date {
    font-size: 8pt;
    display: inline-block;
    width:  70px;
}

span.today {
    font-size: 10px;
    color: #8b0000;
}

nav ul li.search {
    display: inline-block;
}

li.search input {
    width: 221px;
}

.descriptionTrigger {
    margin-right: 330px;
    cursor: pointer;
}

.descriptionTrigger .description {
    cursor: pointer;
    font-size: 11px;
    display: block;
}

#sidebar2 > section{
    margin: 10px 0;
}

section {
    background-color: #FFFFF0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 20px;
    border: 1px solid orange;
}
#epGuideId_field{
    width: 200px;
}

.titlecloud{
    padding:50px;
    clear: left;
}
.titlecloud a,
.titlecloud a:focus,
.titlecloud a:hover
{
    text-decoration: none;
}

.titlecloud .tag1 {
    font-size: 0.8em;
}
.titlecloud .tag2 {
    font-size: 1.5em;
}
.titlecloud .tag3 {
    font-size: 2em;
}

.titlecloud .all,
.titlecloud .all a{
color: #94c722
}
.titlecloud .partial,
.titlecloud .partial a{
    color: lightsalmon;
}
.titlecloud .none,
.titlecloud .none a{
    color: lightgray;
}

.titlecloud .info{
    border-top: 1px solid #94c722;
    padding: 0 5px;
    margin: auto;
}