<div ng-controller="CloudCtrl as cloudCtrl" ng-click="foo()">
  {{cloudCtrl.cloud.data.length}} shows

  <div class="titlecloud">
    <span class="{{show.size | classTag}}"  ng-repeat="show in cloudCtrl.cloud.data |  inArray:cloudCtrl.statusFilters:'consumeStatus' | orderBy:'showId'" data-showId="{{show.showId}}">
      <a showId="{{show.size}} episodes" class="{{show.consumeStatus}}" href="#show/{{show.showId}}">{{show.showId}}</a>
    </span>
    <hr/>
    <div class="info">
      <a ng-click="updateStatusFilter('all')" class="restrict all">all </a>
      <a ng-click="updateStatusFilter('partial')" class="restrict partial">partial</a>
      <a ng-click="updateStatusFilter('none')" class="restrict none">none</a>
      <a ng-click="reset()" class="">reset</a>
    </div>
  </div>
</div>