<div ng-controller="CloudCtrl as cloudCtrl" ng-click="foo()">
  {{cloudCtrl.cloud.data.length}} shows

  <div class="titlecloud">
    <span class="show {{show.size | classTag}}"  ng-repeat="show in cloudCtrl.cloud.data | orderBy:'showId'" data-showId="{{show.showId}}">
      <a showId="{{show.size}} episodes" class="{{show.consumeStatus}}" href="#show/{{show.showId}}">{{show.showId}}</a>
    </span>
    <hr/>
    <div class="info">
      <a ng-click="" class="all">all </a>
      <a ng-click="" class="partial">partial</a>
      <a ng-click="" class="none">none</a>
      <a ng-click="" class="">reset</a>
    </div>
  </div>
</div>