<h2>{{show.medias[0].title}} <span class="badge">{{show.medias.length}}</span></h2>
<span ng-controller="ShowController as showCtrl" ng-click="showCtrl.update(show.medias[0].showId)" class="glyphicon glyphicon-refresh"></span>
<ul ng-controller="ShowController as showCtrl" class="list-unstyled">
    <li ng-repeat="media in show.medias" title="{{media.title}}" data-series="{{media.title}}">

        <span class="date momentdate" data-date="{{media.publishingDate| relDate}}">
            {{media.publishingDate | date:'yyyy-MM-dd'}}
        </span>

        <media-flag media="media"> </media-flag>

        {{media.identifier}}
        {{media.subtitle}}


        <media-torrent torrent-engine="torrentEngine" med="media"></media-torrent>

        <span ng-show="media.today" class="today">today</span>
    </li>
</ul>