<h2>{{show.medias[0].title}} <span class="badge">{{show.medias.length}}</span></h2>
<button type="button" id="update" data-loading-text="Loading ..."
      ng-click="call({name:show.medias[0].showId})"
      class="btn btn-primary btn-xs">
    <div ng-show="loading" class="spinner"><span class="glyphicon glyphicon-refresh"></span></div> Update
</button>
<a class="btn btn-danger btn-xs" ng-href="{{'https://www.netflix.com/search/' + show.medias[0].title}}"
   target="_blank">
    Netflix
</a>
<ul class="list-unstyled">
    <li ng-repeat="media in show.medias" title="{{media.title}}" data-series="{{media.title}}">

        <span class="date momentdate" data-date="{{media.publishingDate| relDate}}">
            {{media.publishingDate | date:'yyyy-MM-dd'}}
        </span>

        <media-flag media="media"> </media-flag>

        {{media.identifier}}
        {{media.subtitle}}


        <media-torrent torrent-engine="mCtrl.torrentEngine" med="media"></media-torrent>

        <span ng-show="media.today" class="today">today</span>
    </li>
</ul>