
.titlecloud{
  padding: 50px;
  a {
    text-decoration: none;
    &.none{
      color: lightgray;
    }
    &.partial{
      color: lightsalmon;
    }
    &.all{
      color: #94c722;
    }
  }

  .tag1{
    font-size: 0.8em;
  }
  .tag2{
    font-size: 1.5em;
  }
  .tag3{
    font-size: 2em;
  }
}

.sprite {
  background: url('../images/sprite.png') no-repeat;
  width: 16px;
  height: 16px;

  &.flag-green {
    background-position: -54px -0px;
  }

  &.flag-red {
    background-position: -27px -27px;
  }

  &.torrent {
    background-position: -0px -27px;
  }

  &.trash {
    background-position: -27px -0px;
  }

  &.update {
    background-position: -0px -0px;
  }

}
