@(head:String)
@import helper._
<header id="header">
  <div id="logo">
    <h1><a href="/">ep<span>tracker</span></a></h1>
  </div>

  <nav id="nav">
    <ul>
      <li class="">
        <a href="@routes.Show.showsByAbc">Shows by Letter</a>
      </li>
      <li>
        <a href="@routes.Show.shows()">Shows paged</a>
      </li>
      <li>
        <a href="@routes.Show.recent">recent</a>
      </li>
      <li>
        <a href="@routes.Show.upcoming">upcoming</a>
      </li>
      <li>
        <a href="@routes.Show.random">random</a>
      </li>
      <li class="search">
          @form(action = routes.Search.search("text")){
              <input type="search" class="text inputBox" name="text"
              size="32" maxlength="64" placeholder="search" />
          }
      </li>
    </ul>
    <br class="clear" />
  </nav>
</header>
