@(title: String, script: Html = Html(""))(content: Html)(implicit request:Request[AnyContent])
<!DOCTYPE html>
<html>
<head>
  <title>@title</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

  <link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Sansita+One" rel="stylesheet" type="text/css" />
  @helper.javascriptRouter("epRouter")(routes.javascript.Show.delete, routes.javascript.Show.consume, routes.javascript.Info.consumeInfo)
  @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/main").url)

  @script

</head>
 <body>
    <div id="outer">
      @head("header")
    <div id="main">
        @import _root_.request.EpisodeRequest.requestToSidebarItems
       @sidebarright("aber", request)
       <div id="content">
          @content
       </div>
    </div>
      <br />
    @foot("footer")
</div>
  </body>
</html>
