@(currentPage: Page[Media], currentOrderBy: Int, title:String, importForm:Form[String])(implicit request:Request[AnyContent], sidebarItems:(Seq[Media],Seq[Media]))

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Show.show(title, newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy))

}

@helper.javascriptRouter("consumeShow")(routes.javascript.Show.consumeAll)

@main("Ep Tracker", importForm)  {

  <h4>
    <a href="@routes.Show.shows(0,1)">all shows</a>  >  @title
    <span class="small">(@currentPage.total episodes)</span>
    <a class="sprite flag-green" title="mark all as seen" href="@routes.Show.consumeAll(title)"><img src="@routes.Assets.at("images/trans.gif")" alt=""></a>
    <a class="sprite update" title="update show" href="@routes.Show.update(currentPage.items.head.showId.getOrElse("none"))"><img src="@routes.Assets.at("images/trans.gif")" alt=""></a>
  </h4>

<img class="showpic" src="@routes.Assets.at("images/show/"+currentPage.items.head.showId.getOrElse("none")+"-cast.jpg")" alt="cast">

  @Option(currentPage.items).filterNot(_.isEmpty).map { medias =>
  <ul>
     @medias.map {
      case media => {
    <li title="@media.title">
      <span class="date">@media.publishingDate.toString("yyyy-MM-dd")</span> @templates.mediaConsumed(media) @media.identifier @media.subtitle
      @templates.iso(media)
    </li>
        }
      }
  </ul>


    @templates.paging(currentPage, currentOrderBy, title)
}
    
}
