@(currentPage: Page[Media], currentOrderBy: Int, title:String)(implicit request:Request[AnyContent],searchForm: Form[forms.SearchText])

@import java.net.URLDecoder.decode
@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Show.show(title, newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy))

}
@script = {
  @helper.javascriptRouter("consumeShow")(routes.javascript.Show.consumeAll)
}
@main("Ep Tracker", script = script)  {


  <h4>
    <a href="@routes.Application.index">all shows</a>  > <span class="showtitle" title="pull freebase info">@decode(title, "UTF-8")</span>
    <span class="small">(@currentPage.total episodes)</span>

    <a class="sprite flag-@{if(currentPage.allSeen) "green" else "red"}" title="mark all as seen" href="@routes.Show.consumeAll(currentPage.items.head.showId)"><img src="@routes.Assets.at("images/trans.gif")" alt=""></a>
    <a class="sprite update" title="update show" href="@routes.Show.update(currentPage.items.head.showId)"><img src="@routes.Assets.at("images/trans.gif")" alt=""></a>
  </h4>


<div class="showinfo description">
    <img src="@routes.Assets.at("images/ajax-loader.gif")" />
</div>

<img class="showpic" src="@routes.Show.picture(currentPage.items.head.showId + "-cast.jpg")" alt="cast">

  @templates.paging(currentPage, currentOrderBy, link)

  @Option(currentPage.items).filterNot(_.isEmpty).map { medias =>
  <ul>
     @medias.map {
      case media => {
    <li title="click for description" class="descriptionTrigger" id="@media.identifier"
      data-epid="@media.identifier" data-series="@media.title"
      data-epnumber="@media.epnumber" data-loaded="false"
      data-seasonnumber="@media.seasonnumber" >

      <span class="date">@media.publishingDate.toString("yyyy-MM-dd")</span> @templates.mediaConsumed(media) @media.identifier @media.subtitle
      @templates.torrent(media)
      @if(media.isToday){
        <span class="today">today</span>
      }
      <div class="description"></div>
    </li>
      }
     }
  </ul>
  @templates.paging(currentPage, currentOrderBy, link)
}
}


