@(currentPage: Page[Media], currentOrderBy: Int, title:String)(implicit request:Request[AnyContent],searchForm: Form[forms.SearchText])

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Show.show(title, newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy))

}

@helper.javascriptRouter("consumeShow")(routes.javascript.Show.consumeAll)
@import _root_.request.EpisodeRequest.requestToImportForm
@main("Ep Tracker", request)  {

  <h4>
    <a href="@routes.Show.shows(0,1)">all shows</a>  > <span class="showtitle" title="pull tvrage info">@title</span>
    <span class="small">(@currentPage.total episodes)</span>
    <a class="sprite flag-green" title="mark all as seen" href="@routes.Show.consumeAll(currentPage.items.head.showId)"><img src="@routes.Assets.at("images/trans.gif")" alt=""></a>
    <a class="sprite update" title="update show" href="@routes.Show.update(currentPage.items.head.showId)"><img src="@routes.Assets.at("images/trans.gif")" alt=""></a>
  </h4>


<div class="showinfo" style="display: none">
    <img src="@routes.Assets.at("images/ajax-loader.gif")" />
</div>

<img class="showpic" src="@routes.Assets.at("images/show/"+currentPage.items.head.showId+"-cast.jpg")" alt="cast">

  @templates.paging(currentPage, currentOrderBy, link)

  @Option(currentPage.items).filterNot(_.isEmpty).map { medias =>
  <ul>
     @medias.map {
      case media => {
    <li title="@media.title">
      <span class="date">@media.publishingDate.toString("yyyy-MM-dd")</span> @templates.mediaConsumed(media) @media.identifier @media.subtitle
      @templates.iso(media)
    </li>
        }
      }
  </ul>
    @templates.paging(currentPage, currentOrderBy, link)
}
}


@helper.javascriptRouter("tvrageinfo")(routes.javascript.TVRage.info)

<script type="text/javascript">
    var showing = false;
    var loaded = false;
    var titleElement = $('.showtitle');
    var title = titleElement.html();
    titleElement.hover(
            function(){
                if(!loaded) {
                    tvrageinfo.controllers.TVRage.info(title).ajax({
                        success: function(data){
                            $('.showinfo').html(data);
                            loaded = true;
                        },
                        error: function(data){
                            $('.showinfo').html("error getting tvrage info :(");
                            loaded = false;
                        }
                    });
                }

            },
            function(){
                showing = false;
            }
    )
            .click(
            function(){
                $('.showinfo').toggle('slow');
            }
    )
            .css('cursor', 'pointer');
</script>
