@(showMap: Map[String, List[TVShow]])(implicit request:Request[AnyContent],searchForm: Form[forms.SearchText])

@import models.TVShow._

@main("Ep Tracker") {

  <h4>all shows <a href="@routes.Show.shows()">paged</a></h4>

<div class="characters">
    @for( character <- showMap.keys.toList.sortWith(_ < _ ) ) {
    <div class="characterbox">
        <div class="character">
            @character
            <span class="charcount">@showMap(character).size</span>
        </div>
        <div class="characterepbox"> <span class="close">x</span>
            <ul>
                @for(show <- showMap(character)) {
                <li class="showperCharacter">
                    <a href="@routes.Show.show(show.title)">@show.title</a> (@show.count)
                    <span class="sprite trash delete" onclick="deleteShow(this)"
                      rel="@show.title">
                      <img title="delete" src="@routes.Assets.at("images/trans.gif")" alt="delete">
                    </span>
                </li>
                }
            </ul>
        </div>
    </div>
    }
</div>

  <div class="titlecloud">
    @for(show <- showMap.values.flatten.toList.sortBy(_.title)){
      <span class="show @show.tagCloudClass" data-title="@show.title">
        <a title="@show.count episodes" href="@routes.Show.show(show.title)">@show.title</a>
      </span>
    }

    <div class="info">
      <span class="all">all </span>
      <span class="partial">partial</span>
      <span class="none">none</span>
    </div>
  </div>

  <div id="timeline">
  </div>

} @* main end *@


