@(showMap: Map[String, List[TVShow]])(implicit request:Request[AnyContent],searchForm: Form[forms.SearchText])


@import _root_.request.EpisodeRequest.requestToImportForm
@main("Ep Tracker", request) {

  <h4>all shows <a href="@routes.Show.shows()">paged</a></h4>

<div class="characters">
    @for( character <- showMap.keys.toList.sortWith(_ < _ ) ) {
    <div class="characterbox">
        <div class="character">
            @character
            <span class="charcount">@showMap(character).size</span>
        </div>
        <div class="characterepbox"> <span class="close">x</span>
            <ul>
                @for(show <- showMap(character)) {
                <li class="showperCharacter">
                    <a href="@routes.Show.show(show.title)">@show.title</a> (@show.count)
                    <span class="sprite trash delete" onclick="deleteShow(this)" rel="@show.title"><img title="delete" src="@routes.Assets.at("images/trans.gif")" alt="delete"></span>
                </li>
                }
            </ul>
        </div>
    </div>
    }
</div>

} @* main end *@

@helper.javascriptRouter("deleteEp")(routes.javascript.Show.delete)

<script type="text/javascript">
     $(document).ready(function(){
        $('.characterbox').hover(
                function(){
                    $('.characterepbox').hide();
                    $(this).find('.characterepbox').show()
                },
                function(){
//                    $('.characterepbox').hide();
                }
//                function(){$(this).closest('.characterbox').find('.characterepbox').toggle()}
        );

         $('.characterbox span.close').click(function(){
             $('.characterepbox').hide();
         })  ;
         $('.characters').bind('mouseout', function(){
//             $('.characterepbox').hide();
         });
      });

     function deleteShow(source)
    {
        var elem = $(source);
        var title = elem.attr('rel');
        deleteEp.controllers.Show.delete(title).ajax({
                 success: function(data){
                    elem.closest('li').slideUp();
                },
                 error: function() {
                 alert('An error occurred while saving!');
                 }
        });
    }
</script>
