@(currentPage: Page[TVShow], currentOrderBy: Int)(implicit request:Request[AnyContent])

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Show.shows(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy))

}

@main("Ep Tracker") {

@helper.javascriptRouter("deleteEp")(routes.javascript.Show.delete)

  <h4>all shows <a href="@routes.Show.showsByAbc()">by ABC</a></h4>

  @templates.paging(currentPage, currentOrderBy, link)




  @Option(currentPage.items).filterNot(_.isEmpty).map { shows =>
  <ul>
     @shows.map {
      case tshow => {
          <li><a href="@routes.Show.show(tshow.title)">@tshow.title</a> (@tshow.count)
            <span class="sprite trash delete" onclick="deleteShow(this)" rel="@tshow.title"><img title="delete" src="@routes.Assets.at("images/trans.gif")" alt="delete"></span>
          </li>
        }
      }
  </ul>

  @templates.paging(currentPage, currentOrderBy, link)

<script type="text/javascript">

    function deleteShow(source)
    {
        var elem = $(source);
        var title = elem.attr('rel');
        deleteEp.controllers.Show.delete(title).ajax({
                 success: function(data){
                    elem.closest('li').slideUp();
                },
                 error: function() {
                 alert('An error occurred while saving!');
                 }
        });
    }
</script>
  }
}
