@(name:String, sidebarItems:(Seq[Media],Seq[Media]))(implicit request:Request[AnyContent])

@import helper._
@import _root_.forms.ImportForm.importForm
@import helper.twitterBootstrap._

<aside id="sidebar2">


 <section>
   <header>
     <h3><a href="@routes.Show.recent">recent</a></h3>
   </header>
   <ul>
     @for(media <- sidebarItems _1) {
       @templates.mediaAsLi(media)
     }
   </ul>
 </section>

 <section>
   <header>
   <h3><a href="@routes.Show.upcoming">upcoming</a></h3>
   </header>
   <ul>
     @for(media <- sidebarItems _2) {
       @templates.mediaAsLi(media)
     }
   </ul>
 </section>

 <section class="import">
   <header>
     <h3>import show</h3>
   </header>
   @form(action = routes.Import.importTheShow(),'class -> "form"){
       @importForm.globalError.map( error => <p class="error">{error.message}</p>)
     <button class="inputButton">start import</button>
       @inputText(field = importForm("epGuideId"),
     'placeholder -> "show id from epguide.com",
     '_label -> "",
     'class -> "inputBox importField",
     '_showConstraints -> false,
     'autocomplete -> "off")


   }</section>
  @helper.javascriptRouter("jsRoutes")(routes.javascript.Show.epGuideData)


</aside>
